.btn {
    // border: 1px solid white;
    background-image: linear-gradient(to top right, rgb(101, 115, 255), 
    rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), 
    rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200),
     rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));       
    border-radius: 6px;

    padding: 8px 10px;

    border: none;

    transition: 0.4s all ease;

    text-decoration: none;
    color: white;
    font-size: 17px;
    text-align: center;

    cursor: pointer;

    &_home {
        align-self: center;
    }

    &_watch {
        width: 160px;
    }
}

@media (max-width: 767px) {
    .btn {
        font-size: 14px;

        &_watch {
            width: 90px;
        }
    }
}

.btn:hover {
    background-color: white;
    background-image: none;
    color:  #263A4F;
}

.btn:active {
    transform: scale(0.9)
}

@media (max-width: 576px) {
    .btn:hover {
        background-color: rgba(255, 255, 255, 0);
        color: white;
    }
    .header__btn {
        background-image: none;
        padding: 0;
    }
}