.header {
    display: flex;
    padding: 20px 100px;
    background-color: #131C25;

    &__inner {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    .logo {
        display: none;
    }

    &__nav {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__link {
        text-decoration: none;
        color: white;
        font-size: 17px;
    }

    &__link-home {
        margin-right: 30px;
    }

    &__tools {
        display: flex;
    }

    .nav-indicator {
        bottom: -20px;
    }

    &__close,
    &__open {
        display: none;
    }
}

.search {
    &__inner {
        display: flex;
        position: relative;
    }

    &__input {
        background-color: #263A4F;
        width: 280px;

        padding: 8px 10px;
        margin-right: 30px;

        border-radius: 6px;
        border: 0px;

        color: white;
        font-size: 17px;

        outline: none;
        -webkit-appearance: none;
    }

    &__input:focus {
        border-radius: 6px;
        border: 1px solid white; 
    }

    &__btn {
        position: absolute;
        right: 40px;
        top: 9px;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 10px 70px;

        &__link {
            font-size: 14px;
        }

        &__link-home {
            margin-right: 15px;
        }

        .nav-indicator {
            bottom: -10px;
        }
    }

    .search {
        &__input {
            width: 200px;
            padding: 6px 8px;
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        padding: 10px 50px;
        flex-direction: column;

        &__inner {
            margin: 80px 0;
        }

        &__nav,
        &__inner,
        &__tools {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        &__nav-link {
            display: inline-block;
            color: white;
            font-size: 25px;
            margin-top: 20px;
        }

        &__link-home {
            margin: 0;
        }

        .logo {
            display: flex;
            align-items: center;

            color: white;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 5px;
        }

        .logo svg {
            width: 23px;
            height: auto;
            right: 5px;
            top: 3px;
            position: relative;

            transform: rotate(45deg)
        }

        .logo__text_middle {
            position: absolute;
            left: 129px;
            color: black;
        }

        .logo__text {
            z-index: 2;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__close,
        &__open {
            display: block;
            width: 20px;
            height: 20px;
        }
    }

    .search {
        // &__inner {
        //     display: none;
        // }
        &__input {
            margin-right: 0;
            font-size: 12px;
            width: 170px;
        }

        &__btn {
            right: 10px;
            top: 4px;
        }

        &__btn svg {
            width: 15px;
            height: 15px;
        }
    }
}