.movie-page {
    display: flex;
    flex-wrap: wrap;
    background-image: url('/cinema.jpg');
    background-position: 0 -130px;

    &__info {
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 223px;

        margin-top: 40px;
    }

    &__poster {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__poster img{
        width: 150px;
        height: auto;

        margin: 40px;
    }

    &__title {
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: normal;
        margin-top: 10px;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        width: 200px;
        margin-top: 20px;
    }

    &__rating {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: rgb(148, 148, 148);
    }

    &__widgets {
        background-color: #fff;
        width: 100%;
        height: 100vh;
        
        padding-left: 40px;
        padding-top: 30px;
    }

    &__nav {
        position: relative;
    }

    &__widget {
        color: rgb(85, 85, 85);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;

        margin-right: 25px;
    }

    &__widget:focus {
        font-weight: bold;
        color: black;
    }

    &__year {
        font-weight: bold;
        font-size: 13px;

        margin-top: 20px;
        display: inline-block;
    }

    &__genre {
        margin-top: 10px;
    }

    &__genre span {
        border: 0.5px solid rgb(124, 124, 124);
        border-radius: 3px;

        color: rgb(124, 124, 124);
        font-size: 13px;

        margin-right: 10px;
        padding: 3px;
    }

    &__plot {
        max-width: 650px;

        letter-spacing: 2px;

        margin-top: 20px;
    }

    .fav {
        width: 36px;
        height: 36px;

        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .movie-page {
        background-position: -200px -100px;

        &__poster img {
            width: 120px;
        }

        &__info {
            height: 176px;
        }

        &__rating {
            font-size: 12px;
        }

        &__title {
            font-size: 20px;
        }

        &__btns {
            justify-content: flex-start;
        }

        &__plot {
            max-width: 450px;
        }
    }
}

@media (max-width: 576px) {
    .movie-page {
        background-position: -450px -130px;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

        &__poster img {
            width: 140px;
            margin: 40px 0;
        }

        &__info {
            order: 1;
            background-color: white;
            color: black;
        }

        &__poster {
            order: 2;
        }

        &__widgets {
            order: 3;
        }
    }
}